body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital@0;1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Vollkorn', serif;
}


/* Sign up page css*/
.home {
  width: auto;
  height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* background: linear-gradient(rgba(10,225,130,0.5),rgba(100,225,0,0.7)); */
  display: flex;
  align-items: center;
  /* align-content: center;
align-self: center; */
}

.login {
  background-color: rgba(10, 225, 130, 0.5);
  width: auto;
  padding: 6%;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 4px black;
  margin: 0 auto;
}

.login * {
  display: block;
  padding: 20px;
  margin-top: 2%;
  border-radius: 5px;
  font-size: 20px;

}

.login input[type="submit"] {
  background: rgba(10, 225, 130, 0.5);
  margin: 0 auto;
  margin-top: 5%;
}

.login input[type="submit"]:hover {
  background: rosybrown;
  transition: 0.5s;
  cursor: pointer;
}

.signup * {
  display: inline;
}



/* Sign up page css*/

.home {
  width: auto;
  height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* background: linear-gradient(rgba(10, 225, 130, 0.5), rgba(100, 225, 0, 0.7)); */
  display: flex;
  align-items: center;
  /* align-content: center;
align-self: center; */
}

.login {
  background-color: rgba(10, 225, 130, 0.5);
  width: auto;
  padding: 6%;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 4px black;
  margin: 0 auto;
}

.login * {
  display: block;
  padding: 20px;
  margin-top: 2%;
  border-radius: 5px;
  font-size: 20px;

}

.login input[type="submit"] {
  background: rgba(10, 225, 130, 0.5);
  margin: 0 auto;
  margin-top: 5%;
}

.login input[type="submit"]:hover {
  background: rosybrown;
  transition: 0.5s;
  cursor: pointer;
}

.signup * {
  display: inline;
}