body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital@0;1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Vollkorn', serif;
}

/* / home page css */
 .index_home{
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* align-items: center; */
  background: linear-gradient(rgba(10,225,130,0.5),rgba(100,225,0,0.7));
}
h1{
  color: rgb(121 51 10);
  padding: 10px;
  width: fit-content;
  display: inline-block;
  text-shadow: 0px 1px 13px black;
}
.nav{
  background: rgba(218, 236, 182, 0.884);
  box-shadow: 1px 7px 20px 0px #974d21;
  padding: 1rem;
  display: flex;
  /* align-content: center; */
  justify-content: space-evenly;
  align-items: center;
}
.nav h1{
  display: inline-block;
  width: 100%;
}
.nav img{
  position: relative;
  left:2%;
}
.nav ul{
  list-style: none;
  display: inline-flex;
  margin-left: 50%;
  font-size: 2rem;

}
.nav li{
  margin-bottom: 2px;
  display: inline-block;
  margin-right: 2px;
  background-color: violet;
  color: whitesmoke;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}
.nav li:hover{
  background-color: turquoise;
  transition: 0.5s;
  border: thin;
}
.img-gallery{
  /* background-color: violet; */
  height: 80vh;
  display: flex;
  align-content: space-around;
  align-items: center;
  width: 100%;
}
.img-gallery img{
  padding: 2%;
  width: 40%;
  border-radius:15px;
}




/* Sign up page css*/
.home {
  width: auto;
  height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* background: linear-gradient(rgba(10,225,130,0.5),rgba(100,225,0,0.7)); */
  display: flex;
  align-items: center;
  /* align-content: center;
align-self: center; */
}

.login {
  background-color: rgba(10, 225, 130, 0.5);
  width: auto;
  padding: 6%;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 4px black;
  margin: 0 auto;
}

.login * {
  display: block;
  padding: 20px;
  margin-top: 2%;
  border-radius: 5px;
  font-size: 20px;

}

.login input[type="submit"] {
  background: rgba(10, 225, 130, 0.5);
  margin: 0 auto;
  margin-top: 5%;
}

.login input[type="submit"]:hover {
  background: rosybrown;
  transition: 0.5s;
  cursor: pointer;
}

.signup * {
  display: inline;
}



/* Sign up page css*/

.home {
  width: auto;
  height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* background: linear-gradient(rgba(10, 225, 130, 0.5), rgba(100, 225, 0, 0.7)); */
  display: flex;
  align-items: center;
  /* align-content: center;
align-self: center; */
}

.login {
  background-color: rgba(10, 225, 130, 0.5);
  width: auto;
  padding: 6%;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 4px black;
  margin: 0 auto;
}

.login * {
  display: block;
  padding: 20px;
  margin-top: 2%;
  border-radius: 5px;
  font-size: 20px;

}

.login input[type="submit"] {
  background: rgba(10, 225, 130, 0.5);
  margin: 0 auto;
  margin-top: 5%;
}

.login input[type="submit"]:hover {
  background: rosybrown;
  transition: 0.5s;
  cursor: pointer;
}

.signup * {
  display: inline;
}

/* Dashboard css*/
.home {
  width: auto;
  height: 100vh;
  background: linear-gradient(rgba(10, 225, 130, 0.5), rgba(100, 225, 0, 0.7));
  /* display: flex; */
  /* align-items: center; */
  /* align-content: center;
align-self: center; */
}

.nav {
  background: rgba(218, 236, 182, 0.884);
  box-shadow: 1px 7px 20px 0px #974d21;
  padding: 1rem;
  display: flex;
  align-content: space-around;
  align-items: center;
}

.nav h1 {
  display: inline;
  width: 35%;
}

.nav ul {
  /* width: 45%; */
  list-style: none;
  display: inline;
  margin-left: 30%;
  font-size: 2rem;

}

.nav li {
  margin-bottom: 2px;
  display: inline-block;
  margin-right: 2px;
  background-color: violet;
  color: whitesmoke;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.nav li:hover {
  background-color: turquoise;
  transition: 0.5s;
  border: thin;
}

.navList li {
  cursor: pointer;
}

.hide {
  display: none;
}

#home {
  background: cornsilk;
  margin-left: 24%;
  margin-top: 100px;
  width: max-content;
  padding: 2rem;
  color: darkolivegreen;
  font-size: 3rem;
  border-radius: 2rem;
}

h1 {
  color: rgb(121 51 10);
  padding: 10px;
  width: fit-content;
  display: inline-block;
  text-shadow: 0px 1px 13px black;
}

#home td {
  padding: 20px;
}
#competition_div{
  background: darkorange;
  margin-left: 24%;
  margin-top: 100px;
  width: max-content;
  padding: 2rem;
  color: darkolivegreen;
  font-size: 3rem;
  border-radius: 2rem;
}
#competition_div select{
  font-size: 2.3rem;
}
.pay-btn{
  background: lightcyan;
  align-self: center;
  font-size: 2rem;
  border:none;
  border-radius: 5px;
  padding: 5px 10px ;
  box-shadow: 0px 0px 20px 16px #F48FB1;
}
.pay-btn:hover{
  background: cadetblue;
  font-size: 3rem;
  transition: 0.2s;
}
.pay-btn:focus{
  background: cadetblue;
  font-size: 3rem;
  transition: 0.2s;
}